In [15]:
#question 4 partie1/2

import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

data_table= pd.DataFrame( exam_data , index=labels )
print("dans ce programme ci-dessous nous remarquons que en ajoutant une nouvelle ligne les index changent :")
print("------------------------------------------------------")
new=data_table.append({'name': "Suresh", 'score': 15.5, 'attempts': 1, 'qualify': "yes"},ignore_index=True)
print(new)

dans ce programme ci-dessous nous remarquons que en ajoutant une nouvelle ligne les index changent :
------------------------------------------------------
         name  score  attempts qualify
0   Anastasia   12.5         1     yes
1        Dima    9.0         3      no
2   Katherine   16.5         2     yes
3       James    NaN         3      no
4       Emily    9.0         2      no
5     Michael   20.0         3     yes
6     Matthew   14.5         1     yes
7       Laura    NaN         1      no
8       Kevin    8.0         2      no
9       Jonas   19.0         1     yes
10     Suresh   15.5         1     yes

In [13]:
#question 2 partie2/2 
import pandas as pd
import numpy as np

print("Pour resoudre le probleme rencontrer dans la question 2 nous allons alors ajouter les valeurs statistiquement :")
print("------------------------------------------------------")
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas' , 'Suresh'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19 ,15.5],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1 , 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes' , 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',"k"]
data_table= pd.DataFrame( exam_data , index=labels )
print(data_table)

Pour resoudre le probleme rencontrer dans la question 2 nous allons alors ajouter les valeurs statistiquement :
------------------------------------------------------
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [19]:
#question 5
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas' , 'Suresh'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19 ,15.5],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1 , 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes' , 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',"k"]
data_table= pd.DataFrame( exam_data , index=labels )
print(data_table)
print("------------------------------------------------------")
print('suppression de la colonne des tenatives :')
print("------------------------------------------------------")
data_table.drop(columns=["attempts"],inplace=True)
print(data_table)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
------------------------------------------------------
suppression de la colonne des tenatives :
------------------------------------------------------
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes

In [18]:
#question 6
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas' , 'Suresh'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19 ,15.5],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1 , 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes' , 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',"k"]
data_table= pd.DataFrame( exam_data , index=labels )
print("verificatin des differentes valeurs de score avant d'ajouter mon dataframe")
print("------------------------------------------------------")
print(data_table["score"] > 10)
print("------------------------------------------------------")
print("assination de ma nouvelle colonne success")
print("------------------------------------------------------")
final_table= data_table.assign(Success=[1,0,1,0,0,1,1,0,0,1,1])
print(final_table)
print("------------------------------------------------------")

verificatin des differentes valeurs de score avant d'ajouter mon dataframe
------------------------------------------------------
a     True
b    False
c     True
d    False
e    False
f     True
g     True
h    False
i    False
j     True
k     True
Name: score, dtype: bool
------------------------------------------------------
assination de ma nouvelle colonne success
------------------------------------------------------
        name  score  attempts qualify  Success
a  Anastasia   12.5         1     yes        1
b       Dima    9.0         3      no        0
c  Katherine   16.5         2     yes        1
d      James    NaN         3      no        0
e      Emily    9.0         2      no        0
f    Michael   20.0         3     yes        1
g    Matthew   14.5         1     yes        1
h      Laura    NaN         1      no        0
i      Kevin    8.0         2      no        0
j      Jonas   19.0         1     yes        1
k     Suresh   15.5         1     yes        1
------------------------------------------------------